{% load static %}
<!DOCTYPE Html5>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rocks-Fit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Academia Rocks Fit - Treinamento Personalizado, Musculação, Cardio e Mais" />
	<meta name="keywords"
		content="academia, fitness, musculação, treino personalizado, cardio, saúde, bem-estar, Rocks Fit" />
	<meta name="author" content="Cleyson Cassio" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Outfit:wght@400;700;900&display=swap" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts -->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
	<!-- Custom Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}?v=2">
	<!-- Bootstrap SCSS -->


	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			{% include 'base/nav_header.html' %}
				<div class="fh5co-parallax" style="background-image: url({% if site_config.programs_background %}{{ site_config.programs_background.url }}{% else %}{% static 'images/home-image-5.jpg' %}{% endif %});"
					data-stellar-background-ratio="0.5">
					<div class="overlay"></div>
					<div class="container">
						<div class="row">
							<div
								class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
								<div class="fh5co-intro fh5co-table-cell animate-box">
									<h1 class="text-center">Nossos Planos</h1>
									<p>Explore nossas modalidades e encontre o plano perfeito para você!</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- NOSSOS PLANOS -->
				<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="heading-section text-center animate-box">
									<h2>Nossos Planos</h2>
									<p>Escolha o que melhor lhe atende.</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="pricing" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
								{% for plan in plans %}
								<div class="col-md-3 animate-box">
									<div class="price-box animate-box {% cycle 'plan-orange' 'plan-black' 'plan-gray' 'plan-white' %} {% if plan.is_popular %}popular{% endif %}">
										<h2 class="pricing-plan {% if plan.is_popular %}pricing-plan-offer{% endif %}">{{ plan.name }} {% if plan.is_popular %}<span>MAIS VENDIDO</span>{% endif %}</h2>
										<div class="price"><sup class="currency">R$</sup>{{ plan.price|floatformat:"-2" }}<small>{{ plan.period }}</small></div>
										<p>{{ plan.description }}</p>
										<ul class="classes">
											{% for feature in plan.get_features_list %}
											<li class="{% cycle '' 'color' %}">{{ feature }}</li>
											{% endfor %}
										</ul>
										<a href="{% url 'checkout' plan.id %}" class="btn {% if plan.is_popular %}btn-select-plan btn-sm{% else %}btn-default{% endif %}">
										{% if plan.card_button_text %}{{ plan.card_button_text }}{% else %}Assinar Agora{% endif %}
										</a>
									</div>
								</div>
								{% empty %}
								<div class="col-md-12 text-center"><p>Nenhum plano cadastrado ainda.</p></div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div> <!--FIM: NOSSOS PLANOS -->
			</div>
	{% include 'base/footer.html' %}
		</div>
		<!-- END fh5co-page -->
	
		</div>
		<!-- END fh5co-wrapper -->
	
		<!-- jQuery -->
	
	
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<!-- jQuery Easing -->
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<!-- Bootstrap -->
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- Waypoints -->
		<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
		<!-- Stellar -->
		<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
		<!-- Superfish -->
		<script src="{% static 'js/hoverIntent.js' %}"></script>
		<script src="{% static 'js/superfish.js' %}"></script>
	
		<!-- Main JS (Do not remove) -->
		<script src="{% static 'js/main.js' %}"></script>
	
		</body>
	</html>