{% load static %}
<!DOCTYPE html5>

<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Rocks-Fit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Academia Rocks Fit - Treinamento Personalizado, Musculação, Cardio e Mais" />
	<meta name="keywords"
		content="academia, fitness, musculação, treino personalizado, cardio, saúde, bem-estar, Rocks Fit" />
	<meta name="author" content="Cleyson Cassio" />

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'favicon.ico' %}">

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet'
			type='text/css'>


	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Google_map -->
	<script src="{% static 'js/google_map.js' %}"></script>
	<!-- HoverIntent -->
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>

	<!-- Jquery_min -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- Stellar -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS (Do not remove) -->
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Superfish -->
	<script src="{% static 'js/superfish.js' %}"></script>
	<!-- Respond -->
	<script src="{% static 'js/respond.min.js' %}"></script>





	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts -->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Superfish -->
	<link rel="stylesheet" href="{% static 'css/superfish.css' %}">
	<!-- Custom Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Bootstrap SCSS -->
	<link rel="stylesheet" href="{% static 'sass/bootstrap.scss' %}">
	<link rel="stylesheet" href="{% static 'sass/bootstrap/Style.css' %}">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>

	</head>

<body>
	<div id="fh5co-wrapper">
		<div id="fh5co-page">
			<div id="fh5co-header">
				<header id="fh5co-header-section">
					<div class="container">
						<div class="nav-header">
							<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
							<h1 id="fh5co-logo"><a href="{% url 'home' %}">Rocks-<span>Fit</span></a></h1>
							<!-- START #fh5co-menu-wrap -->
							<nav id="fh5co-menu-wrap" role="navigation">
								<ul class="sf-menu" id="fh5co-primary-menu">
									<li class="active">
										<a href="{% url 'home' %}">Início</a>
									</li>
									<li>
										<a href="{% url 'programs' %}">Nossos Planos </a>
									</li>
									<li>
										<a href="{% url 'schedule' %}">Modalidades</a>
									</li>
									<li><a href="{% url 'trainers' %}">Professores</a></li>
									<li><a href="{% url 'about' %}">Sobre nós</a></li>
									<li><a href="{% url 'contact' %}">Contato</a></li>
									<li><a href="{% url 'index' %}">Nosso Blog</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</header>
			</div>

			<!-- end:fh5co-header -->
			<div class="fh5co-hero">
				<div class="fh5co-overlay"></div>
				<div class="fh5co-cover" data-stellar-background-ratio="0.5"
					style="background-image: url('{% static 'images/1009.jpg' %}');">

					<div class="desc animate-box">
						<div class="container">
							<div class="row">
								<div class="col-md-7">
									<h2>Força &amp; Saúde <br>para <b>Sua Longevidade</b></h2>
									<p><span>Com muito amor<i class="icon-heart3"></i> cuidamos do seu bem-estar <a
												class="fh5co-site-name">#Somos_todos_Rocks-fit</a></span></p>
									<span><a class="btn btn-primary" href="#">Começe agora</a></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end:fh5co-hero -->
			<div id="fh5co-schedule-section" class="fh5co-lightgray-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="heading-section text-center animate-box">
								<h2>Programação Semanal</h2>
								<p>Temos uma variedade de modalidades para todos os gostos: musculação para fortalecer, Fit Dance para se divertir dançando, e treinos funcionais para melhorar a sua performance e bem-estar. Venha experimentar na Academia Rocks Fit!</p>
							</div>
						</div>
					</div>
					<div class="row animate-box">
						<div class="col-md-10 col-md-offset-1 text-center">
							<ul class="schedule">
								<li><a href="#" class="active" data-sched="sunday">Segunda</a></li>
								<li><a href="#" data-sched="monday">Terça</a></li>
								<li><a href="#" data-sched="tuesday">Quarta</a></li>
								<li><a href="#" data-sched="wednesday">Quinta</a></li>
								<li><a href="#" data-sched="thursday">Sexta</a></li>
								<li><a href="#" data-sched="monday">Sábado</a></li>
								<li><a href="#" data-sched="saturday">Domingo</a></li>
							</ul>
						</div>
						<div class="row text-center">

							<div class="col-md-12 schedule-container">

								<div class="schedule-content active" data-day="sunday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>06AM-11AM</small>
											<h3>Aldai Nascimento:</h3>
											<span>Manhã</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}"alt="">
											<small>11AM-14PM</small>
											<h3>Almoço</h3>
											<span>Tarde</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}"alt="">
											<small>14PM-17PM</small>
											<h3>Aldai Nascimento</h3>
											<span>Tarde</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>17PM-21PM</small>
											<h3>Ivanildo Silvio</h3>
											<span>Noite</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="monday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>06AM-11AM</small>
											<h3>Aldai Nascimento:</h3>
											<span>Manhã</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>11AM-14AM</small>
											<h3>Almoço:</h3>
											<span>tarde</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-boxing.svg' %}" alt="fit-boxing">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="({% static 'images/fit-cycling.png' %})" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>

								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="tuesday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="fit-dumbell">
											<small>06AM-7AM</small>
											<h3>Body Building</h3>
											<span>John Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-yoga.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Yoga Programs</h3>
											<span>James Smith</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-boxing.svg' %}" alt="fit-boxing">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="wednesday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-yoga.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Yoga Programs</h3>
											<span>James Smith</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="Cycling">
											<small>06AM-7AM</small>
											<h3>Body Building</h3>
											<span>John Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-boxing.svg' %}" alt="Cycling">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="thursday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Body Building</h3>
											<span>John Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-yoga.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Yoga Programs</h3>
											<span>James Smith</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-boxing.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="friday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-yoga.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Yoga Programs</h3>
											<span>James Smith</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumble.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Body Building</h3>
											<span>John Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-boxing.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->

								<div class="schedule-content" data-day="saturday">
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-dumbell.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Body Building</h3>
											<span>John Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-yoga.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Yoga Programs</h3>
											<span>James Smith</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Cycling Program</h3>
											<span>Rita Doe</span>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="program program-schedule">
											<img src="{% static 'images/fit-cycling.svg' %}" alt="">
											<small>06AM-7AM</small>
											<h3>Boxing Fitness</h3>
											<span>John Dose</span>
										</div>
									</div>
								</div>
								<!-- END sched-content -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-parallax" style="background-image: url('{% static 'images/ps.jpg' %}');"
				data-stellar-background-ratio="0.5">

				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div
							class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
							<div class="fh5co-intro fh5co-table-cell animate-box">
								<img src="{% static 'images/rks01.png' %}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div><!-- end: fh5co-parallax -->
			<div id="fh5co-programs-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="heading-section text-center animate-box">
								<h2>Nossas Modalidades</h2>
								<p>Temos uma variedade de modalidades para todos os gostos: musculação para fortalecer, Fit Dance para se divertir dançando, e treinos funcionais para melhorar a sua performance e bem-estar. Venha experimentar na Academia Rocks Fit!</p>
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4 col-sm-6">
							<div class="program animate-box">
								<img src="{% static 'images/fit-dumbell.svg' %}" alt="fit-dumbell">
								<h3>Musculação</h3>
								<p>Fortalece os músculos, crucial para promover a longevidade. Ideal para todas as idades, ele ajuda na manutenção da saúde óssea e articular, contribuindo para uma vida ativa e saudável. </p>
								<span><a href="http:../programs/" class="btn btn-default">Começar</a></span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="program animate-box">
								<img src="{% static 'images/fit-yoga.svg' %}" alt="">
								<h3>Funcional</h3>
								<p>O treino funcional melhora a força, agilidade e equilíbrio, usando movimentos que replicam atividades do dia a dia. Ele é dinâmico e ideal para aumentar o condicionamento físico geral. </p>
								<span><a href="http:../programs/" class="btn btn-default">Começar</a></span>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="program animate-box">
								<img src="{% static 'images/fit-cycling.svg' %}" alt="">
								<h3>Cardio Dance</h3>
								<p>Cardio dance combina movimentos de dança com exercícios aeróbicos, melhorando o condicionamento cardiovascular enquanto diverte e queima calorias. </p>
								<span><a href="http:../programs/" class="btn btn-default">Join Now</a></span>
							</div>
					
					</div>
				</div>
			</div>
			<div id="fh5co-team-section" class="fh5co-lightgray-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="heading-section text-center animate-box">
								<h2>Nossos Profissionais</h2>
								<p>Na Academia Rocks Fit, nossos profissionais são altamente qualificados e apaixonados pelo que fazem. Com expertise e dedicação, eles estão aqui para guiar e motivar você em cada etapa da sua jornada fitness. Confie em nossos especialistas para alcançar seus objetivos e transformar sua saúde!</p>
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4 col-sm-6">
							<div class="team-section-grid animate-box"
								style="background-image: url('{% static 'images/aldai1.jpeg' %}');">
								<div class="overlay-section">
									<div class="desc">
										<h3>Aldai Nascimento</h3>
										<span>Professor</span>
										<p>Sabe quem é né Mano?</p>
										<p class="fh5co-social-icons">
											<a href="#"><i class="icon-twitter-with-circle"></i></a>
											<a href="#"><i class="icon-facebook-with-circle"></i></a>
											<a href="https://www.instagram.com/aldaipersonal_/"><i class="icon-instagram-with-circle"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="team-section-grid animate-box"
								style="background-image: url('{% static 'images/ivanildo1.jpeg' %}');">
								<div class="overlay-section">
									<div class="desc">
										<h3>Ivanildo Silvio</h3>
										<span>Professor</span>
										<p>O melhor treino é aquele que você ainda não fez, faça.</p>
										<p class="fh5co-social-icons">
											<a href="#"><i class="icon-twitter-with-circle"></i></a>
											<a href="#"><i class="icon-facebook-with-circle"></i></a>
											<a href="https://www.instagram.com/id.silvio/"><i class="icon-instagram-with-circle"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="team-section-grid animate-box"
								style="background-image: url('{% static 'images/trainer-1.png' %}');">
								<div class="overlay-section">
									<div class="desc">
										<h3>Professor</h3>
										<span>sss</span>
										<p>Se sujar eu limpo</p>
										<p class="fh5co-social-icons">
											<a href="#"><i class="icon-twitter-with-circle"></i></a>
											<a href="#"><i class="icon-facebook-with-circle"></i></a>
											<a href="#"><i class="icon-instagram-with-circle"></i></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-parallax" style="background-image: url('{% static 'images/1009.jpg' %}');">
				data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div
							class="col-md-6 col-md-offset-3 col-md-pull-3 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 fh5co-table">
							<div class="fh5co-intro fh5co-table-cell box-area">
								<div class="animate-box">
									<h1>O plano mais vantajoso.</h1>
									<p>Pague apenas R$ 9,90 no 1 mês.</p>
									<a href="#" class="btn btn-primary">Vem pra Rocks-Fit</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- NOSSOS PLANOS -->
			<div id="fh5co-pricing-section" class="fh5co-pricing fh5co-lightgray-section">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="heading-section text-center animate-box">
								<h2>Nossos Planos</h2>
								<p>Escolha o que melhor lhe atende.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="pricing">
							<div class="col-md-3 animate-box">
								<div class="price-box animate-box">
									<h2 class="pricing-plan">Diária</h2>
									<div class="price"><sup class="currency">R$</sup>10<small>/DIÁRIA</small></div>
									<p>Para quem quer conhecer</p>
									<ul class="classes">
										<li>Musculação</li>
										<li class="color">Acompanhamento Profissional</li>
										<li>Aeróbico</li>
										<li class="color">01 Treino Funcional</li>
									</ul>
									<a href="https://loja.infinitepay.io/workplacevirgilio/zfy3125-diaria" class="btn btn-default">PAGAR</a>
								</div>
							</div>

							<div class="col-md-3 animate-box">
								<div class="price-box animate-box">
									<h2 class="pricing-plan">MENSAL</h2>
									<div class="price"><sup class="currency">R$</sup>60,00<small>/mensal</small></div>
									<p>O valor total cobrado será de R$ 65,00 incluindo matrícula. </p>
									<ul class="classes">
										<li>Musculação</li>
										<li class="color">Treino Funcional 2x por Semana</li>
										<li>aulão cardio conforme agendamento</li>
										<li class="color">Elíptico</li>
										<li class="color">Acompanhamento Profissional</li>
									</ul>
									<a href="https://loja.infinitepay.io/workplacevirgilio/mup2504-musculacao-mensal-esteira-matricula" class="btn btn-default">COM ESTEIRA</a>
									<a href="https://loja.infinitepay.io/workplacevirgilio/cgg1637-musculacao-mensal-matricula" class="btn btn-default">SEM ESTEIRA</a>
								</div>
							</div>

							<div class="col-md-3 animate-box">
								<div class="price-box animate-box popular">
									<h2 class="pricing-plan pricing-plan-offer">TRIMESTRAL <span>MAIS VENDIDO</span></h2>
									<div class="price"><sup class="currency">R$</sup>55,00<small>/TRIMESTRAL</small></div>
									<p>O valor total cobrado será de R$ 170,00, incluindo matrícula.</p>
									<ul class="classes">
										<li>Musculação</li>
										<li class="color">Treino Funcional 2x por Semana</li>
										<li>aulão cardio conforme agendamento</li>
										<li class="color">Elíptico</li>
										<li class="color">Acompanhamento Profissional</li>
									</ul>
									<a href="https://loja.infinitepay.io/workplacevirgilio/sfz1150-musculacao-trimestral-esteira-matricula" class="btn btn-select-plan btn-sm">COM ESTEIRA</a>
									<a href="https://loja.infinitepay.io/workplacevirgilio/trm4676-musculacao-trimestral-esteira-matricula" class="btn btn-select-plan btn-sm">SEM ESTEIRA</a>
									
								</div>
							</div>

							<div class="col-md-3 animate-box">
								<div class="price-box animate-box">
									<h2 class="pricing-plan">Unlimited</h2>
									<div class="price"><sup class="currency">$</sup>50,00<small>/semestral</small></div>
									<p>O valor total cobrado será de R$ 305,00, incluindo matrícula. </p>
									<ul class="classes">
										<li>Musculação</li>
										<li class="color">Treino Funcional 2x por Semana</li>
										<li>aulão cardio conforme agendamento</li>
										<li class="color">Elíptico</li>
										<li class="color">Acompanhamento Profissional</li>
									</ul>
									<a href="#" class="btn btn-default">COM ESTEIRA</a>
									<a href="#" class="btn btn-default">SEM ESTEIRA</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!--FIM: NOSSOS PLANOS -->

			<!-- NOSSOS PLANOS -->
			<div id="fh5co-blog-section">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="heading-section animate-box">
									<h2>Recent from Blog</h2>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-0">
								<div class="fh5co-blog animate-box">
									<div class="inner-post">
										<a href="#"><img class="img-responsive" src="{% static 'images/loc.png' %}"
												alt=""></a>
									</div>
									<div class="desc">
										<h3><a href="" #>Starting new session of body building this summer</a></h3>
										<span class="posted_by">Posted by: Admin</span>
										<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
										<p>Far far away, behind the word mountains</p>
										<a href="#" class="btn btn-default">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-0">
								<div class="fh5co-blog animate-box">
									<div class="inner-post">
										<a href="#"><img class="img-responsive" src="{% static 'images/loc.png' %}"
												alt=""></a>
									</div>
									<div class="desc">
										<h3><a href="" #>Starting new session of body building this summer</a></h3>
										<span class="posted_by">Posted by: Admin</span>
										<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
										<p>Far far away, behind the word mountains</p>
										<a href="#" class="btn btn-default">Read More</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="heading-section animate-box">
									<h2>Upcoming Events</h2>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-0">
								<div class="fh5co-blog animate-box">
									<div class="meta-date text-center">
										<p><span class="date">14</span><span>June</span><span>2016</span></p>
									</div>
									<div class="desc desc2">
										<h3><a href="" #>Starting new session of body building this summer</a></h3>
										<span class="posted_by">Posted by: Admin</span>
										<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia</p>
										<a href="#" class="btn btn-default">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-md-offset-0">
								<div class="fh5co-blog animate-box">
									<div class="meta-date text-center">
										<p><span class="date">13</span><span>June</span><span>2016</span></p>
									</div>
									<div class="desc desc2">
										<h3><a href="" #>Starting new session of body building this summer</a></h3>
										<span class="posted_by">Posted by: Admin</span>
										<span class="comment"><a href="">21<i class="icon-bubble22"></i></a></span>
										<p>Far far away, behind the word mountains, far from the countries Vokalia and
											Consonantia</p>
										<a href="#" class="btn btn-default">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- fh5co-blog-section -->
			<footer>
				<div id="footer">
					<div class="container">
						<div class="row">
							<div class="col-md-4 animate-box">
								<h3 class="section-title">Sobre Nós</h3>
								<p>Na Academia Rocks Fit, estamos comprometidos em fornecer um ambiente acolhedor e
									motivador para todos os nossos membros. Nossa missão é ajudar você a alcançar seus
									objetivos de fitness com o apoio de nossos treinadores especializados e instalações
									de última geração.</p>
							</div>

							<div class="col-md-4 animate-box">
								<h3 class="section-title">Nosso Endereço</h3>
								<ul class="contact-info">
									<li><i class="icon-map-marker"></i>Rua Cel. Flaminio, 32 - Santos Reis, Natal-RN
									</li>
									<li><i class="icon-phone"></i>+55 84 99805-9947</li>
									<li><i class="icon-envelope"></i><a
											href="mailto:academiarocksfit@gmail.com">academiarocksfit@gmail.com</a></li>
									<li><i class="icon-globe2"></i><a
											href="http://www.rocksfit.com">www.rocksfit.com</a></li>
								</ul>
							</div>

							<div class="col-md-4 animate-box">
								<h3 class="section-title">Nossa Localização</h3>
								<iframe
									src="https://storage.googleapis.com/maps-solutions-9xk7rypt0r/locator-plus/8p8q/locator-plus.html"
									width="100%" height="300px" style="border:1;" loading="lazy">
								</iframe>
							</div>

							<div class="row copy-right">
								<div class="col-md-6 col-md-offset-3 text-center">
									<p class="fh5co-social-icons">
										<a href="#"><i class="icon-twitter2"></i></a>
										<a
											href="https://www.facebook.com/profile.php?id=100007946404693&mibextid=ZbWKwL"><i
												class="icon-facebook2"></i></a>
										<a href="https://www.instagram.com/academiarocksfit?igsh=d3hjMW9kdmp6Y2Qw"><i
												class="icon-instagram"></i></a>
										<a href="#"><i class="icon-youtube"></i></a>
									</p>
								</div>
							</div>
			</footer>
		</div>
		<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->



</body>

</html>