[run]
source = seu_pacote_principal
omit = */tests/*,*/migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise NotImplementedError
    pass
    if __name__ == .__main__.: