[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requires = "*"
requests = "*"
python-dotenv = "*"
python-decouple = "*"
django-sass-processor = "*"
pillow = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
coverage = "*"

[requires]
python_version = "3.11"
